* {
    margin: 0;
}

body {
    overflow-x: hidden;
}

.boxContainer {
    position: absolute;
    width: 100vw;
    animation: collapse 1s linear;
    animation-fill-mode: forwards;
    z-index: 10;
};

.boxes {
    position: relative;

}

.box1,
.box2,
.box3 {
    position: absolute;
    min-height: calc(200vh);
}

.box1 {
    background-color: #F4BE1E;
    width: 100%;
    z-index: 2;
}

.box2 {
    background-color: black;
    width: 150%;
    z-index: 1;
}

.box3 {
    background-color: #F16943;
    width: 200%;
}


@keyframes collapse {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
        display: none;
    }
}