.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F4BE1E;
}

.edit {
    text-decoration: none;
}

.link {
    color: black;
    padding: 0;
}

.btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    font-size: 12px;
}

.like{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}